<% if (theme.visit_counter) { %>
<div class="busuanzi-count">
      <span class="site-uv">
        <i class="fa fa-user"></i> <%- theme.visit_counter.site_uv %>
        <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
      </span>
      <span class="site-pv">
        <i class="fa fa-eye"></i> <%- theme.visit_counter.site_pv %>
        <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
        次
      </span>
  </div>
<% } %>
