.app-footer
  padding: 1em 0
  margin: 0 auto
  max-width: 850px
  border-top: 1px solid color-border
  background-color: color-white
  text-align: center
  font-size: 0.9em

.copyright
  color: color-gray
  line-height: 1.5

.site-uv,
.site-pv,
.page-pv 
  display inline-block
.site-uv .busuanzi-value,
.site-pv .busuanzi-value,
.page-pv .busuanzi-value 
  margin 0 5px
.site-uv 
  margin-right 10px
  &::after 
    content "|"
    padding-left 10px